#custom
*.db
*.opendb
*.ilk
*.tlog
*.log
*.pdb
*.idb
*.lastbuildstate
*.opensdf
*.sdf
*.suo

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.suo

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
#*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
#*.lib
*.ipch
# Executables
*.exe
*.out
*.app
*.log
